extends layout

block content  
    div(class="container")
        br
        h3=groupName
        a=groupExplanation
        br
        br
        br
        -if(groupMember.includes(userEmail))
            a(type="button" class="btn btn-outline-success" href="/group/grouplist/test/batch") 배치 들어가기
        -else
            a(type="button" class="btn btn-outline-success") 그룹 가입하기
            
        br
        br
        